/* .app-promo{
  width:100%;
  margin:0;
  padding:0;
  background:transparent !important;
}

.promo-image{
  display:block;
  width:100%;
  max-width:1920px;
  height:auto;
  margin:0 auto;
} */

.app-promo{
  width:100vw;
  margin:0;
  padding:0;
}

.promo-image{
  width:100%;
  display:block;
}